/* Pantone 2021 palette */
palette {
  color: #f5e400; /* Luxe Lemon*/
  color: #888789; /* Chrome */
  color: #b59a48; /* Glitterati*/
  color: #6f926e; /* Green Glimmer*/
  color: #4c96b3; /* Heavenly*/
  color: #990011; /* Space Cherry*/
  font-family: 'Butcherman', cursive;
  font-family: 'Henny Penny', cursive;
  font-family: 'Nosifer', cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #beb7b7; /* Chrome */
  font-family: 'Henny Penny', cursive;
}

div.scroll-menu {
  overflow: auto;
  white-space: nowrap;
}

.card {
  display: inline-block;
}

.card-text {
  height: 10em;
  white-space: initial;
}
