/* Pantone 2021 palette */
palette {
  color: #f5e400; /* Luxe Lemon*/
  color: #888789; /* Chrome */
  color: #b59a48; /* Glitterati*/
  color: #6f926e; /* Green Glimmer*/
  color: #4c96b3; /* Heavenly*/
  color: #990011; /* Space Cherry*/
  font-family: "Butcherman", cursive;
  font-family: "Henny Penny", cursive;
  font-family: "Nosifer", cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #beb7b7; /* Chrome */
  font-family: "Henny Penny", cursive;
}

div.scroll-menu {
  overflow: auto;
  white-space: nowrap;
}

.card {
  display: inline-block;
  width: 15rem;
}

.card img {
  height: 10rem;
  margin: 0 auto;
  box-shadow: 2px 2px #990011; /* Space Cherry*/
}

.card-text {
  font-size: .75em;
  height: 5em;
  white-space: initial;
  overflow: auto;
}
